.home-detail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20%;
    padding-top: 90px;
}
.home-view{
    margin-left: auto;
    width: 560px;
}


h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:30px ;
   padding-top: 10px;
  color: aliceblue;
}
h1{
    font-size: 40px;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}
p{
    font-size: 20px;
    padding-top: 10px;
    color: rgb(255, 255, 255);
}
.home-image{
    width: 500px;
} 
.carousel-inner img{
    display: block;
    margin-left: 50px;
    width:90%;
    height: 300px;
}

.explore-btn{
    font-size: 20px;
    color: rgb(209, 169, 247);
    cursor: pointer;
    transition: .5s;
    padding-top: 30px;
}
.explore-btn:hover{
    color: antiquewhite;
    font-size: 22px;
}
@media screen and (max-width: 1250px) {
    .home-detail {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-left: 20%;
            padding-top: 50px;
        }
                .home-view {
                    margin-left: auto;
                    width: 370px;
                }
  h3 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: aliceblue;
    }
    h1{
        font-size: 30px;

    }
    p{
        font-size: 14px;
    }
        .home-image {
            width:0px;
        }
    
        .carousel-inner img {
            margin-left: 0px;
            width: 0%;
            height: 0px;
        }
}

